.About {
  /*background-color: #f0f0f0;*/
  /*background-color: #eceaea;*/
  background-color: #ccc;
  /*height: 100%;*/
  width: 100%;
}

h2 {
  text-align: center;
}

.AboutMe {
  /*height: 100%;*/
  /*vertical-align: middle;*/
  /*display: table-cell;*/
  /*position: relative;*/
  display: inline-block;
  /*vertical-align: top;*/
  /*display: table;*/
}

.tictactoe-container {
  background-color: black;
  transform: translate(0, 50%);
}

@media (min-width: 768px){
  .info {
    width: 44%;
    margin: 3%;
    left: 0;
    float: left;
    position: relative;
    color: black;
    text-align: left;
    display: table;
  }
  
  .tictactoe-container {
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    right: 0;
    float: right;
    width: 44%;
    margin: 3%;
  }
}

.tictactoe {
  width: 94%;
  margin: 3%;
}






