.CustomNavBar {
  width: 80px;
  height: 100%;
  background: #f0f0f0;
  position: absolute;
  /*min-height: 500px;*/
}

/*.container {
  display: flex;
}*/

.list {
  list-style-type: none;
  padding: 0;
}

#root {
  /*padding: 20px;
  width: 80%;*/
  background: blue;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}