.CustomNavBar {
  width: 100%;
  min-height: 100%;
  /*background: white;*/
  /*position: absolute;*/
  /*min-height: 500px;*/
}

.container {
  /*display: flex;*/
  /*position: absolute;*/
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
}

#root {
  /*padding: 20px;*/
  width: 100%;
  /*background: #8cdcff;*/
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  background: #8cdcff;
  position: relative;
  /*overflow-y: hidden;*/
}