.Skills {
  background-color: #ccc;
  /*overflow: auto;*/
  /*display: table;*/
  /*width: 100%;*/
}

.SkillsMe {
/*  vertical-align: middle;
  display: table-cell;
  position: relative;*/
  /*display: inline-block;*/
  /*height: 100%;*/
  /*overflow: auto;*/
  display: table;
  /*width: 100%;*/
}

.skills-info, .skills-wheel {
  display: table-cell;
  vertical-align: top;
}

@media (min-width: 768px){
  .skills-info {
    width: 44%;
    margin: 3%;
    left: 0;
    float: left;
    position: relative;
    color: black;
    text-align: left;
  }
  
  .skills-wheel {
    position: relative;
    right: 0;
    float: right;
    width: 44%;
    margin: 3%;
  }
}

