.Skills {
  /*padding: 50px;*/
  width: 100%;
  height: 100%;
  background: green;
  /*margin-left: 80px;*/
  /*overflow-y: scroll;*/
  text-align: center;
  vertical-align: middle;
  display: table;
}

.SkillsMe {
  vertical-align: middle;
  display: table-cell;
}