body, html {
  margin: 0;
  /*overflow: hidden;*/
  height:100%;
}

@media (min-width: 768px){
  #left {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 20%;
    overflow-y: scroll;
    display: table;
  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /*overflow-y: scroll;*/
    width: 80%;
  }
}

#left {
  background-color: white;
  text-align: center;
  height: 100%;
}

#right {
  background-image: url("./components/css/img/snowboard-white.jpeg");

  /*background-image: url("./components/css/img/snowboard-mountain.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-color: #f0f0f0;
  height: 100%;
  text-align: center;
  /*scroll-behavior: smooth;*/
}

.active {
  color: #F38A8A;
  border-bottom: 2px solid #F38A8A;
  border-top: 2px solid #F38A8A;
}

.scroll-container {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: table;
}

/*#right::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./components/css/img/snowboard-mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}*/
/*.table-cell {
  display: table-cell;
  vertical-align: middle;
}*/
/*
.nav {
  display: block;
}*/

/*
li {
  list-style-type: none;
  display: block;
}*/