.About {
  /*background-color: #ccc;*/
  background-color: #e9e9ea;
  /*background-color: #00ad9c;*/
}

.AboutMe {
  padding: 40px 40px;
}

.header {
  margin: auto;
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: 800;
  padding-left: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
}

/*@media screen and (max-width: 1200px) {
  .info2 {
    padding-right: 0px;
  }
}*/

.info2 {
  flex: 60%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.journey {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.container-2048 {
  text-align: center;
  flex: 40%;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.tictactoe {
  max-width: 400px;
  text-align: center;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.rules {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
/*  margin-left: 15px;
  margin-right: 15px;*/
  margin: 0 auto;
  margin-top: 15px;
  width: 370px;
  /*text-align: center;*/
}


.instructions {
  text-align: left;
}

.win {
  color: rgba(235, 67, 35, 0.75);
  display: inline-block;
}

.instruction {
  margin-top: 15px;
}


