.table-cell {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  background-color: #F1F1F2;
}

/*@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}*/

#profilePic {
  border: 3px black solid;
  border-radius: 50%;
  /*animation: float 5s ease-in-out infinite;*/
}

h3 {
  font-weight: 800;
  /*color: #4a808f;*/
  color: #1e836c;
  /*color: #19647E;*/
}

.nav {
  display: block;
}

.menu {
  list-style-type: none;
  display: block;
  padding: 12px 0px;
  cursor: pointer;
  /*color: white;*/

}

.active {
/*  color: #F38A8A;
  border-bottom: 2px solid #F38A8A;
  border-top: 2px solid #F38A8A;  */
  /*color: #19647E;*/
  color: #1e836c;
/*  border-bottom: 2px solid #4a808f;
  border-top: 2px solid #4a808f;
*/  
  border-bottom: 2px solid #1e836c;
  border-top: 2px solid #1e836c;
}

@media (max-width: 982px) {
  #left {
    opacity: 0;
    visibility: hidden;
    width: 300;
    transform: translateX(-300);
  }
}

@media (max-width: 1100px) {
  #left {
    width: 27%;
  }
}

/*li {
  list-style-type: none;
  display: block;
  padding: 12px 0px;
  cursor: pointer;
}

*/

.fab {
  display: inline-block;
  margin-right: 8px;
}

.social-media {
  text-align: center;
  margin-left: 7px;
}

.fa-linkedin-in {
  color: #0077B5;
}

.fa-github {
  color: black;
}



