.Skills {
  /*background-color: #ccc;*/
  background-color: #e9e9ea;
}

.SkillsMe {
  padding: 40px 40px;
}

.header {
  margin: auto;
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: 800;
  padding-left: 20px;
}

.skills-container {
/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  width: 40%;
}

.info-container {
  /*flex: 60%;*/
  /*width: 40%;*/
  /*padding-right: 40px;*/
  padding-bottom: 20px;
  /*align-items: stretch !important;*/
  margin-right: 20px;
}

.skills-info {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.skills-page-contact {
  display: inline-block;
  color: #1e836c;
  padding: 0px;
  font-weight: bold;
}

.end {
  display: inline-block;
}



.wheel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*display: none;*/
  /*text-align: center;*/
  /*width: 100%;*/
  /*flex: 50%;*/
  /*width: 60%;*/
  /*align-items: center;*/
  /*min-width: 600px;*/
  /*padding-bottom: 20px;*/
}

.controls-container {
  /*width: 40%;*/
  position: relative;
}

.controls {
  position: relative;
  /*height: 100%;*/
  /*width: 90%;*/
  /*padding: 45% 45%;*/
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  margin-top: 20px;
}

.switch {
  /*align-content: center;*/
 /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;*/
  margin: 0 auto;
  display: block;
  /*padding-bottom: 10px;*/
  width: 50%;
  border-radius: 5px;
  outline: none;
  /*background-color: #d3d3d3;*/
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.switch:hover {
  background-color: white;
  opacity: 1;
}

.sphere {
  /*width: 60%;*/
  /*width: 100%;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.sphere-container {
  width: 60%;
}

.skills-wheel {
  /*max-width: 500px;*/
  /*height: 100%;*/
  /*max-height: 500px;*/
  /*border: 5px red solid;*/
  /*text-align: center;*/
}

#tag-cloud {
  /*width: 50px;*/
  /*max-width: 400px;*/
  /*border-radius: 50%;*/
}

rect {
  rx: 50%;
  width:95%;
  height: 95%;
  stroke: black;
  stroke-width: 5px;
  x: 2.5%;
  y: 2.5%;
}

/*svg {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}*/

a {
  cursor: pointer;
}

image {
  /*width: 8%;*/
  /*height: 8%;*/
}

text {
  /*font-size: 5vw;*/
}


.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  /*background: #d3d3d3;*/
  background-color: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  /*background-color: white;*/
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /*background: #4CAF50;*/
  background-color: white;
  cursor: pointer;
}

.slider-description {
  padding: 15px 0px 40px 0px;
  text-align: center;
  color: white;
}

.radius {
  padding: 15px 0px 10px 0px;
}



